.nav {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
  display: flex;
  box-shadow: 4px 4px 20px -6px #d4d4d4;
}
img {
  width: 127px;
}
